*.png
models/logs
dl_interpret/*SNP_predictions.txt
limma_analysis/pr.diff*
limma_analysis/pr.idr.voom.qnorm.txt
dl_interpret/predictions/
dl_interpret/.ipynb_checkpoints/
limma_analysis/.ipynb_checkpoints/
limma_analysis/celltype.csv
limma_analysis/batches.csv
models/microglia2.sh
dl_interpret/.ipynb_checkpoints/
dl_interpret/microglia*
models/.ipynb_checkpoints/
models/plot_predictions_2.ipynb
models/perf/.ipynb_checkpoints/
models/microglia_old1.sh
models/microglia_old2.sh
models/microglia_new.sh
models/microglia_noupsample.sh
clusters_gkmsvm/__pycache__/viz_sequence.cpython-37.pyc

